body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
#_idContainer000 {
	display:inline-block;
	height:465px;
	width:267px;
}
#_idContainer001, #_idContainer002, #_idContainer004 {
	display:inline-block;
	height:466px;
	width:267px;
}
#_idContainer003 {
	display:inline-block;
	height:467px;
	width:268px;
}
#_idContainer005, #_idContainer008 {
	display:inline-block;
	height:217px;
	width:217px;
}
#_idContainer006 {
	display:inline-block;
	height:72px;
	width:224px;
}
#_idContainer007 {
	display:inline-block;
	height:47px;
	width:139px;
}
#_idContainer009 {
	display:inline-block;
	height:64px;
	width:175px;
}
#_idContainer010 {
	display:inline-block;
	height:34px;
	width:202px;
}
#_idContainer011 {
	display:inline-block;
	height:57px;
	width:183px;
}
#_idContainer012 {
	display:inline-block;
	height:57px;
	width:180px;
}
#_idContainer013 {
	display:inline-block;
	height:142px;
	width:140px;
}
#_idContainer014, #_idContainer017, #_idContainer018, #_idContainer022 {
	display:inline-block;
	height:140px;
	width:140px;
}
#_idContainer015 {
	display:inline-block;
	height:57px;
	width:222px;
}
#_idContainer016 {
	display:inline-block;
	height:57px;
	width:204px;
}
#_idContainer019 {
	display:inline-block;
	height:64px;
	width:252px;
}
#_idContainer020 {
	display:inline-block;
	height:57px;
	width:229px;
}
#_idContainer021 {
	display:inline-block;
	height:152px;
	width:152px;
}
#_idContainer023 {
	display:inline-block;
	height:231px;
	width:245px;
}
#_idContainer024 {
	display:inline-block;
	height:32px;
	width:232px;
}
#_idContainer025 {
	display:inline-block;
	height:59px;
	width:212px;
}
#_idContainer026 {
	display:inline-block;
	height:70px;
	width:92px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
